.geolocation-modal {
  text-align: center;
  color: #333333;
  h3 {
    font-size: 20px;

    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;

    text-align: center;
  }
  button {
    width: 140px !important;
    height: 40px !important;
    font-size: 16px !important;
  }
}

.links {
  width: 560px;
  text-align: center;
}

.badge {
  display: block !important;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #111111;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  padding: 0;
  background: #6ea7f4;
  color: #111111;
}

.notifications-menu {
  position: absolute;
  right: 0;
  top: 37px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  width: 270px;
  z-index: 100;
  cursor: auto;
  display: flex;
  border: 1px solid #d4d4d5;
  flex-direction: column;
  .notifications-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    p {
      font-family: "Figgins";
      font-size: 14px;
      color: #828282;
      margin: 0;
    }
    a {
      font-family: "Figgins";
      font-size: 14px;
      color: #6ea7f4 !important;
      padding: 0 !important;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      border: none;
    }
  }
  &:before {
    position: absolute;
    content: "";
    right: 5px;
    width: 0.71428571em;
    height: 0.71428571em;
    top: -0.30714286em;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: auto;
    margin-left: 0;
    box-shadow: -1px -1px 0 0 #bababc;
  }
}
